.content-wrapper {
    position: relative;
    min-height: 100%;
}

.content-wrapper::before {
    content: "";
    background-image: url('/app/images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    /* Valeur négative pour être sous le contenu */
}

.modal {
    z-index: 1055 !important;
    /* Valeur par défaut de Bootstrap */
}

.modal-backdrop {
    z-index: 1050 !important;
    /* Valeur par défaut de Bootstrap */
}

#saveIndicator {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    cursor: pointer;
    transition: transform 0.2s;
}

#saveIndicator:hover {
    transform: scale(1.1);
}

#saveIndicator i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #0d6efd;
}

.attribute-badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: help;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.double-strike {
    text-decoration-line: line-through;
    text-decoration-style: double;
}

nav.navbar .navbar-nav .nav-link {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
