  .sheep-col {
      min-height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .bergerie {
      background-color: #f3e9d2;
  }

  .pre {
      background-color: #baf2bb;
  }

  .separation {
      background-color: #ffffff;
  }

  .sheep {
      max-width: 100%;
      height: auto;
  }