{layout 'layout.latte'}

{block title}Info{/block}

{block navbar}
    {include '../../Webmaster/views/navbar/info.latte'}
{/block}

{block content}
    {ifset $content}
        {$content|noescape}
    {/ifset}
{/block}