<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../WebSite/vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="../WebSite/vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">../WebSite/app</directory>
        </include>
    </source>
</phpunit>