{layout '../layout.latte'}

{block navbar}
    {include '../navbar/webmaster.latte'}

    {if isset($newVersion)}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {$newVersion}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {/if}
{/block}



