        </ul>
        <div class="d-flex align-items-center ms-auto">
            <a class="navbar-brand" href="/designer/help"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{='contextual_help'|translate}">
                <i class="bi bi-question-circle-fill fs-2 text-warning"></i>
            </a>
        </div>

    </div>
</div>