{layout '../../../Common/views/layout.latte'}      

{block navbar}
    {include 'home.latte'}
{/block}

{block content}
    <div id="content-display">
        {$chosenArticle->Content|noescape}
    </div>
{/block}