{include '_adminLeft.latte'}

            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Calendrier hebdomadaire">
                <a class="nav-link {if $page == 'weekEvents'}active{/if}" href="/weekEvents"><h2>🗓️</h2></a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Les prochains événements">
                <a class="nav-link {if $page == 'nextEvents'}active{/if}" href="/nextEvents"><h2>📅</h2></a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Envoyer une « invitation »">
                <a class="nav-link {if $page == 'guest'}active{/if}" href="/events/guest"><h2>📩</h2></a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="GetEmails">
                <a class="nav-link {if $page == 'emails'}active{/if}" href="/emails"><h2>📧</h2></a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tableau croisé dynamique">
                <a class="nav-link {if $page == 'crossTab'}active{/if}" href="/events/crossTab"><h2>🧮</h2></a>
            </li>

{include '_adminRight.latte'}
