{include '_adminLeft.latte'}

                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Membres">
                    <a class="nav-link {if $page == 'persons'}active{/if}" href="/persons"><h2>👥</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Groupes">
                    <a class="nav-link {if $page == 'groups'}active{/if}" href="/groups"><h2>👫</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inscriptions">
                    <a class="nav-link {if $page == 'registration'}active{/if}" href="/registration"><h2>🎟️</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Importer">
                    <a class="nav-link {if $page == 'import'}active{/if}" href="/import"><h2>📥</h2></a>
                </li>

{include '_adminRight.latte'}