{include '_adminLeft.latte'}

                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sites Référents">
                    <a class="nav-link {if $page == 'referents'}active{/if}" href="/referents"><h2>☁️</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Top pages par période">
                    <a class="nav-link {if $page == 'topPages'}active{/if}" href="/topPages"><h2>📈</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tableau croisé dynamique">
                    <a class="nav-link {if $page == 'crossTab'}active{/if}" href="/crossTab"><h2>🧮</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Détails des visites">
                    <a class="nav-link {if $page == 'logs'}active{/if}" href="/logs"><h2>📋</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Visiteurs">
                    <a class="nav-link {if $page == 'visitorsGraf'}active{/if}" href="/visitorsGraf"><h2>📊</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Synthèse des visites">
                    <a class="nav-link {if $page == 'analytics'}active{/if}" href="/analytics"><h2>🥧</h2></a>
                </li>                                
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dernières visites">
                    <a class="nav-link {if $page == 'lastVisits'}active{/if}" href="/lastVisits"><h2>👁️</h2></a>
                </li>
                <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alertes demandées par les membres">
                    <a class="nav-link {if $page == 'membersAlerts'}active{/if}" href="/membersAlerts"><h2>📩</h2></a>
                </li>

{include '_adminRight.latte'}