{include '_adminLeft.latte'}

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="DB Browser">
                            <a class="nav-link {if $page == 'dbbrowser'}active{/if}" href="/dbbrowser"><h2>🗂️</h2></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Groupes">
                            <a class="nav-link {if $page == 'groups'}active{/if}" href="/groups"><h2>🧑‍🤝‍🧑</h2></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inscriptions">
                            <a class="nav-link {if $page == 'registration'}active{/if}" href="/registration"><h2>🎟️</h2></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications">
                            <a class="nav-link {if $page == 'notifications'}active{/if}" href="/notifications"><h2>🔔</h2></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Courriels">
                            <a class="nav-link {if $page == 'sendEmails'}active{/if}" href="/sendEmails"><h2>📥</h2></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Maintenance">
                            <a class="nav-link {if $page == 'maintenance'}active{/if}" href="/maintenance"><h2>🚧</h2></a>
                        </li>
                        
                        {if $isMyclubWebSite}
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Installations">
                            <a class="nav-link {if $page == 'installations'}active{/if}" href="/installations"><h2>🌐</h2></a>
                        </li>
                        {/if}

{include '_adminRight.latte'}