{layout '../../Common/views/layout.latte'}

{block navbar}
    {include '../../Webmaster/views/navbar/redactor.latte'}
{/block}

{block content}
    <div class="container-fluid">
        <h1>{$title}</h1>
        {include '../../Common/views/TopXTable.latte',
            topPages:  $topPages,
            period:    $period,
            cardTitle: 'Top des articles visités',
            columns:   ['uri', 'title', 'author', 'visits', 'percentage']
        }
    </div>
{/block}