{layout 'visitorInsights.latte'}

{block content}
    <div class="container-fluid">
        <h1>{$title}</h1>
        {include '../../Common/views/TopXTable.latte',
            topPages:  $topPages,
            period:    $period,
            cardTitle: 'Top des pages visitées',
            columns:   ['uri', 'visits', 'percentage']
        }
    </div>
{/block}