{layout '../../Common/views/layout.latte'}

{block navbar}
    {include 'navbar/visitorInsights.latte'}
{/block}

{block content}
    {include '../../Common/views/dataTable.latte',

        'items' => $logs,

    }
{/block}