<div class="modal fade" id="eventDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventDetailModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="eventDetailSpinner" class="text-center py-3">
          <div class="spinner-border" role="status"></div>
        </div>
        <ul class="list-group" id="eventDetailList" style="display:none;"></ul>
      </div>
    </div>
  </div>
</div>